.sectionRoot {
    display: flex;
    flex-direction: column;
}

.pdf {
    height: 100%;
    flex-grow: 1;
}

.heading {
    display: flex;
    align-items: center;
    background-color: var(--ax-bg-neutral-soft);
    min-height: var(--ax-space-40);
    padding-left: var(--ax-space-16);
}

.tabsRoot :global(.navds-tabs__tablist) {
    flex-wrap: wrap;
}
