.section {
    margin-top: var(--a-spacing-4);
}

.section:last-of-type {
    margin-bottom: var(--a-spacing-14);
}

.content {
    padding: var(--a-spacing-4);
}

.heading {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: var(--a-spacing-2);
    background-color: var(--a-bg-subtle);
    height: var(--a-spacing-14);
    padding-left: var(--a-spacing-4);
}

.heading svg {
    margin-right: var(--a-spacing-4);
    height: 1.5rem;
    width: 1.5rem;
}
