.behandlerInputsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--a-spacing-4);
}

.behandlerInput {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    align-items: end;
}
