.diagnosePicker {
    display: grid;
    grid-template-columns: 48px 0.9fr 1.2fr 2.6fr;
    gap: var(--a-spacing-8);
}

.diagnoseDescriptionText {
    height: var(--a-spacing-12);
    display: flex;
    align-items: center;
}

.onRemoveButtonWrapper {
    display: flex;
    align-items: center;
    margin-top: var(--a-spacing-8);
}
