.diagnosePicker {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: var(--a-spacing-8);
}

.field {
    max-width: 20rem;
}

.diagnoseDescriptionText {
    height: var(--a-spacing-12);
    display: flex;
    align-items: center;
}

.onRemoveButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
}
