.diagnosePicker {
    position: relative;
    display: grid;
    grid-template-columns: 102px 138px 1fr;
    gap: var(--a-spacing-8);
}

.newCombobox {
    grid-template-columns: 102px 1fr 1fr;
}

.field {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    align-items: end;
}

.diagnoseDescriptionText {
    height: var(--a-spacing-12);
    display: flex;
    align-items: center;
}

.onRemoveButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
}
