.suggestionPopover {
    border-radius: var(--a-border-radius-medium);
    border-color: var(--a-border-default);
    box-shadow: var(--a-shadow-medium);
    max-height: 320px;
    overflow: auto;
    background-color: var(--a-surface-default);
    z-index: 50;
    border: 1px solid var(--a-border-default);
}

.suggestionPopoverWrapper {
    z-index: 50;
}

.suggestionNoResult {
    padding: 0.5rem;
    color: var(--a-text-subtle);
}

.suggestion[aria-selected='true'],
.suggestion:hover {
    background-color: var(--a-blue-100);
}

.suggestion {
    padding: 0.5rem;
}

.suggestion:first-child {
    border-radius: var(--a-border-radius-medium) var(--a-border-radius-medium) 0 0;
}

.suggestion:last-child {
    border-radius: 0 0 var(--a-border-radius-medium) var(--a-border-radius-medium);
}

.suggestion:only-child {
    border-radius: var(--a-border-radius-medium);
}

.combobox {
    padding-right: var(--a-spacing-7);
}
