.suggestionPopover {
    border-radius: var(--navds-border-radius-medium);
    border-color: var(--navds-search-color-border);
    box-shadow: var(--navds-shadow-medium);
    max-height: 320px;
    overflow: auto;
    background-color: var(--navds-modal-color-background);
    z-index: 50;
    border: 1px solid var(--navds-popover-color-border);
}

.suggestionPopoverWrapper {
    z-index: 50;
}

.suggestionNoResult {
    padding: 0.5rem;
    color: var(--navds-semantic-color-text-muted);
}

.suggestion[aria-selected='true'],
.suggestion:hover {
    background-color: var(--navds-global-color-blue-100);
}

.suggestion {
    padding: 0.5rem;
}

.suggestion:first-child {
    border-radius: var(--navds-border-radius-medium) var(--navds-border-radius-medium) 0 0;
}

.suggestion:last-child {
    border-radius: 0 0 var(--navds-border-radius-medium) var(--navds-border-radius-medium);
}

.suggestion:only-child {
    border-radius: var(--navds-border-radius-medium);
}

.combobox {
    padding-right: var(--navds-spacing-7);
}
