.periodePicker {
    display: flex;
    margin-bottom: var(--ax-space-16);
}

.dateRangePicker {
    gap: var(--ax-space-16);
    display: flex;
    flex-wrap: wrap;
    place-items: start;
    width: 56ch;
}

.dateRangePicker :global(.navds-text-field__input[size]) {
    width: calc(var(--ax-space-128) * 1.4);
}

.dateRangeInput > :global(.navds-date__wrapper) {
    display: flex;
    justify-content: space-between;
}
