.header {
    justify-content: space-between;
}

.enhetMenu {
    margin-left: auto;
    margin-right: var(--navds-spacing-4);
    margin-top: -2px;
}

.enhetMenu :global(.navds-select__input) {
    color: var(--navds-text-field-color-text);
    background-color: var(--navds-text-field-color-background);
}

.enhetMenu :global(.navds-select__chevron) {
    color: var(--navds-text-field-color-text);
}
