.enhetMenu {
    margin-left: auto;
    margin-right: var(--a-spacing-4);
    margin-top: -2px;
}

.enhetMenu :global(.navds-select__input) {
    color: var(--a-text-default);
    background-color: var(--a-surface-default);
}

.enhetMenu :global(.navds-select__chevron) {
    color: var(--a-text-default);
}
