.periodePicker {
    padding-top: var(--ax-space-16);
}

.dateRangePicker {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ax-space-32);
}

.dateRangePicker :global(.navds-text-field__input[size]) {
    width: calc(var(--ax-space-128) * 1.4);
}
