.periodePicker {
    padding-top: var(--a-spacing-4);
}

.dateRangePicker {
    display: flex;
    flex-wrap: wrap;
    gap: var(--a-spacing-8);
}

.dateRangePicker :global(.navds-text-field__input[size]) {
    width: calc(var(--a-spacing-32) * 1.4);
}
