.stickyActionSection {
    position: sticky;
    bottom: 0;
    background-color: var(--a-bg-default);
    border-top: 2px solid rgba(0, 0, 0, 0.19);
    z-index: 1;
    padding: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-4);
}

.stickyActionSection > a:last-of-type {
    margin-left: auto;
}

.mutationResultFeedback {
    margin-top: var(--a-spacing-8);
}

.saveSuccess {
    margin: var(--a-spacing-4) 0;
}

.demoWarning {
    margin: var(--a-spacing-4) 0;
}
