.subActionSection {
    border-top: 1px solid var(--a-border-default);
    margin-top: var(--a-spacing-8);
    padding-top: var(--a-spacing-8);
}

.otherActionButtons {
    display: flex;
    gap: var(--a-spacing-4);
    margin-top: var(--a-spacing-8);
}

.mutationResultFeedback {
    margin-top: var(--a-spacing-8);
}

.demoWarning {
    margin: var(--a-spacing-4) 0;
}
