@reference 'tailwindcss'

.root {
    --content-height: calc(100vh - 48px);
}

.withBar {
    --content-height: calc(100vh - 48px - 48px);
}

.section {
    /* Needed because of some weird funky overflow issues with sr-only stuff in the form */
    position: relative;
    min-height: var(--content-height);
    max-height: var(--content-height);
    overflow: auto;

    @apply transition-all duration-300;
}

.pdf {
    height: 100%;
    min-height: var(--content-height);
    max-height: var(--content-height);

    @apply transition-all duration-300;
}
