.datoSykmeldingenBleSkrevet {
    display: flex;
    padding-bottom: var(--a-spacing-8);
}

.datoSykmeldingenBleSkrevet :global(.navds-error-message::before) {
    content: unset;
}

.datePicker {
    width: 30ch;
}
