.personInfo {
    display: flex;
    gap: var(--a-spacing-32);
    margin-bottom: var(--a-spacing-4);
}

.fnr,
.navn,
.adresser {
    padding-bottom: var(--a-spacing-8);
}

.adresser {
    display: flex;
    gap: var(--a-spacing-32);
    margin-bottom: var(--a-spacing-4);
}
