.diagnoseFormSection {
    display: flex;
    flex-direction: column;
}

.diagnoseFormSection > div {
    border-top: 2px solid var(--ax-border-neutral-subtle);
    margin-bottom: var(--ax-space-8);
    padding-top: var(--ax-space-32);
    padding-bottom: var(--ax-space-32);
}

.diagnoseFormSection > div:first-of-type,
.diagnoseFormSection > div:last-of-type {
    padding-top: 0;
    border: none;
}
