.periodeRow {
    border-top: 2px solid var(--ax-border-neutral-subtle);
    margin-bottom: var(--ax-space-8);
    padding-top: var(--ax-space-8);
}

.periodeRow:first-of-type {
    padding-top: 0;
    border: none;
}

.periodeGradWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ax-space-32);
}

.leggTilButton {
    border-radius: 4px;
    width: 13.8rem;
    margin-top: var(--ax-space-16);
}

.deleteButton {
    margin-top: var(--ax-space-8);
}
