.periode {
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.leggTilButton {
    border-radius: 4px;
    width: 13.8rem;
    margin-top: var(--a-spacing-4);
}

.periode :global(.navds-button--danger) {
    display: flex;
    align-self: flex-end;
    margin-right: var(--a-spacing-8);
}
