.pageTitle {
    padding: var(--ax-space-24);
    padding-left: var(--ax-space-16);
    position: relative;
}

.titleActions {
    position: absolute;
    right: var(--ax-space-16);
    top: var(--ax-space-16);
    display: flex;
    gap: var(--ax-space-4);
}
