name: Build & Deploy
on: push

env:
  APP: syk-dig

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  test-and-verify:
    name: Test & verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn next typegen
      - run: yarn lint
      - run: yarn tsc
      - run: yarn test
      - run: ./scripts/debt.sh >> $GITHUB_STEP_SUMMARY

  build-dev:
    name: Build for dev
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: dev
          team: 'teamsykmelding'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}

  build-demo:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'demo')
    name: Build for demo
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: demo
          team: 'teamsykmelding'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}

  build-prod:
    name: Build for prod
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: prod
          team: 'teamsykmelding'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}

  sbom-dev:
    name: Upload SBOM for dev build
    needs: build-dev
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-dev.outputs.image }}
          digest: ${{ needs.build-dev.outputs.digest }}
          team: tsm

  sbom-demo:
    name: Upload SBOM for demo build
    needs: build-demo
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-demo.outputs.image }}
          digest: ${{ needs.build-demo.outputs.digest }}
          team: tsm

  sbom-prod:
    name: Upload SBOM for prod build
    needs: build-prod
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-prod.outputs.image }}
          digest: ${{ needs.build-prod.outputs.digest }}
          team: tsm

  deploy-dev-main:
    name: Deploy main to dev
    if: github.ref_name == 'main'
    environment:
      name: dev
      url: https://syk-dig.intern.dev.nav.no
    runs-on: ubuntu-latest
    needs: [build-dev, test-and-verify]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          VAR: image=${{ needs.build-dev.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  deploy-dev-branch:
    name: Deploy branch to dev
    if: startsWith(github.ref_name, 'dev/')
    environment:
      name: dev
      url: https://syk-dig.intern.dev.nav.no
    runs-on: ubuntu-latest
    needs: [build-dev, test-and-verify]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          VAR: image=${{ needs.build-dev.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  deploy-demo-main:
    if: github.ref_name == 'main'
    name: Deploy main to demo
    environment:
      name: demo-main
      url: https://${{ env.APP }}.ekstern.dev.nav.no
    runs-on: ubuntu-latest
    needs: [build-demo, test-and-verify]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-demo.yaml
          VAR: image=${{ needs.build-demo.outputs.image }},ingress=https://${{ env.APP }}.ekstern.dev.nav.no,appname=${{ env.APP }},replicas=1,branchState=alive
          NAIS_DEPLOY_SUMMARY: false

  deploy-production:
    name: Deploy main to production
    if: github.ref_name == 'main'
    environment:
      name: production
      url: https://syk-dig.intern.nav.no
    runs-on: ubuntu-latest
    needs: [deploy-dev-main, run-playwright, build-prod]
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-prod.yaml
          VAR: image=${{ needs.build-prod.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  build-for-playwright:
    name: Build for playwright
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/playwright/build@main
        id: playwright-build
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      image: ${{ steps.playwright-build.outputs.image }}

  run-playwright:
    needs: [build-for-playwright]
    name: Playwright shard ${{ matrix.shardIndex }}
    runs-on: ubuntu-latest
    services:
      app:
        image: ${{ needs.build-for-playwright.outputs.image }}
        ports: ['3000:3000']
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - uses: navikt/tsm-workflows/actions/playwright/run@main
        with:
          shardIndex: ${{ matrix.shardIndex }}
          shardTotal: ${{ matrix.shardTotal }}

  playwright-report:
    if: ${{ !cancelled() }}
    name: Playwright Report
    needs: [run-playwright]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/tsm-workflows/actions/playwright/report@main
        with:
          team: 'teamsykmelding'

  security:
    name: Security
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
    needs: build-prod
    uses: navikt/tsm-workflows/.github/workflows/security.yaml@main
    with:
      image: ${{ needs.build-prod.outputs.image }}
      team: 'teamsykmelding'
